<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}"></title>
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
<th:block th:include="/navbar"></th:block>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div align="center" th:if="${param.added}">
            <p style="font-size: 20; color: #3232FF;" th:text="#{question.added}"></p>
        </div>
        <form th:action="@{/admin/add_question}" th:object="${questionDTO}" method="POST" enctype="utf8">
            <label for="questionEn" th:text="#{table.question.english}"></label>
            <input type="text" id="questionEn" class="fadeIn second" th:field="*{questionEn}">
            <p class="text-danger" th:if="${#fields.hasErrors('questionEn')}" th:errors="*{questionEn}"></p>
            <label for="questionUk" th:text="#{table.question.uk}"></label>
            <input type="text" id="questionUk" class="fadeIn second" th:field="*{questionUk}">
            <p class="text-danger" th:if="${#fields.hasErrors('questionUk')}" th:errors="*{questionUk}"></p>
            <label for="hintEn" th:text="#{table.hint.english}"></label>
            <input type="text" id="hintEn" class="fadeIn second" th:field="*{hintEn}">
            <p class="text-danger" th:if="${#fields.hasErrors('hintEn')}" th:errors="*{hintEn}"></p>
            <label for="hintUk" th:text="#{table.hint.uk}"></label>
            <input type="text" id="hintUk" class="fadeIn second" th:field="*{hintUk}">
            <p class="text-danger" th:if="${#fields.hasErrors('hintUk')}" th:errors="*{hintUk}"></p>
            <label for="answerEn" th:text="#{table.answer.english}"></label>
            <input type="text" id="answerEn" class="fadeIn second" th:field="*{answerEn}">
            <p class="text-danger" th:if="${#fields.hasErrors('answerEn')}" th:errors="*{answerEn}"></p>
            <label for="answerUk" th:text="#{table.answer.uk}"></label>
            <input type="text" id="answerUk" class="fadeIn second" th:field="*{answerUk}">
            <p class="text-danger" th:if="${#fields.hasErrors('answerUk')}" th:errors="*{answerUk}"></p>
            <label for="difficulty" th:text="#{table.difficult}"></label>
            <input type="text" id="difficulty" class="fadeIn second" th:field="*{difficulty}">
            <p class="text-danger" th:if="${#fields.hasErrors('difficulty')}" th:errors="*{difficulty}"></p>
            <input type="submit" class="fadeIn third" th:value="#{question.add}">
        </form>
    </div>
</div>
</body>
</html>