<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title th:text="#{registration.title}"></title>
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
<th:block th:include="/navbar"></th:block>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <form th:action="@{/registration}" th:object="${userDTO}" method="POST" enctype="utf8">
            <label for="username" th:text="#{login.username}"></label>
            <input type="text" id="username" class="fadeIn second" th:field="*{username}">
            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <label for="password" th:text="#{login.password}"></label>
            <input type="text" id="password" class="fadeIn second" th:field="*{password}">
            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <label for="matching_password" th:text="#{login.matching.password}"></label>
            <input type="text" id="matching_password" class="fadeIn second" th:field="*{matching_password}">
            <p class="text-danger" th:if="${#fields.hasErrors('matching_password')}" th:errors="*{matching_password}"></p>
            <label for="name_uk" th:text="#{login.ukrainian.name}"></label>
            <input type="text" id="name_uk" class="fadeIn second" th:field="*{name_uk}">
            <p class="text-danger" th:if="${#fields.hasErrors('name_uk')}" th:errors="*{name_uk}"></p>
            <label for="name_en" th:text="#{login.english.name}"></label>
            <input type="text" id="name_en" class="fadeIn second" th:field="*{name_en}">
            <p class="text-danger" th:if="${#fields.hasErrors('name_en')}" th:errors="*{name_en}"></p>
            <input type="submit" class="fadeIn third" th:value="#{login.registration}">
        </form>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;" th:text="#{login.log.error}"></p>
        </div>
        <div align="center" th:if="${param.logout}">
            <p style="font-size: 20; color: #FF1C19;" th:text="#{login.logout}"></p>
        </div>
    </div>
</div>
</body>
</html>